<div class="backdrop" (click)="Onleave()">
</div>

<div class="container" style="margin-top: 10px;">
  <div class="row">
    <div class="mx-auto">
        <div class="card text-white bg-info mb-3 float-right" style="max-width: 21rem;">
          <form [formGroup] ="form" (ngSubmit)="onSubmit()">
          <div class="card-header">
            <p class="float-right closeX" (click)="Onleave()" style="cursor: pointer;">X</p>
            <div class="form-group">
              <label for="title"></label>
              <input type="title" style="color: white;" class="form-control title" id="title" aria-describedby="titleHelp" placeholder="Enter Title of list" formControlName="title">
              <span class="text-danger" *ngIf="!form.get('title').valid && form.get('title').touched">List must have a title</span>


            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">What do we have to do?</h5>
            <div class="form-group">
              <textarea placeholder="List Description" formControlName="description" id="Description" class="form-control description textareas" style="color: white; border: 1px #148A9D solid;"></textarea>
              <span class="text-danger" *ngIf="!form.get('description').valid && form.get('description').touched">Description can not be left empty</span>
            </div>

            <div formArrayName="items">
              <div class="row" *ngFor="let item of returnControl(); let i = index" [formGroupName]="i">
                <div class="col-10">
                  <textarea placeholder="Item #{{i}}" id="item" class="form-control description textareas" formControlName="items" [ngStyle]="{'margin-bottom' : !form.get('items.' + i).valid && form.get('items.' + i).touched ? '0px' : '5px' }" style="color: white; border: 1px #148A9D solid; margin-bottom: 0px;"></textarea>
                </div>
              <div class="col-1" style="padding: 0px;">
                  <button class="btn btn-outline-primary float-left" type="button" (click)="deleteItem(i)" style="color: white; border: 1px #148A9D solid">x</button>
              </div>
                <div class="col-10">
                  <span class="text-danger" *ngIf="!form.get('items.' + i).valid && form.get('items.' + i).touched">List items can not be left empty</span>
                </div>
              </div>
            </div>
            <button class="btn btn-outline-primary" type="button" (click)="newItem()" style="color: white; border: 1px #148A9D solid">
              {{returnControl().length == 0 ? 'Add something to do' : 'Add more things to do'  }} </button>
            <hr>

            <div [@divstate]="state" [style.max-height]="!showSettings? '0px' : 'none'"
                 [style.visibility]="showSettings ? 'true' : 'false'"
                 style="background-color: #17A2B8">
              <div *ngIf="showSettings">
                <h5 class="card-title">Advanced settings</h5>
                <div class="custom-control custom-checkbox" style="margin-bottom: 10px;">
                  <label class="custom-control-label" for="customCheck1" >Set the deadline</label>
                  <input type="checkbox" class="custom-control-input" [checked]="showDate" (change)="showDate = !showDate" #tick id="customCheck1">


                </div>
                <div class="form-group" *ngIf="showDate">
                  <input class="form-control datein" name="date" formControlName="dateDue" type="datetime-local" id="date" style="margin-top: 10px;">
                  <span class="text-danger" *ngIf="!form.get('dateDue').valid && form.get('dateDue').touched">A date must be inputted</span>
                </div>
                <div formArrayName="shared">
                  <div class="row" *ngFor="let item of returnControlUsers(); let i = index" [formGroupName]="i" style="margin-bottom: 10px" >
                    <div class="col-10">
                    <input type="text"  id="datein" class="form-control datein" formControlName="shared" placeholder="Email #{{i}}">
                    </div>
                      <button class="btn btn-outline-primary" type="button" (click)="deleteItemShared(i)" style="color: white; border: 1px #148A9D solid">X</button>
                    <div class="col-10">
                    <span class="text-danger" *ngIf="!form.get('shared.' + i).valid && form.get('shared.' + i).touched">A user email field can not be left empty</span>
                    </div>
                  </div>
                </div>

                <button class="btn btn-outline-primary" type="button" (click)="addMember()" style="color: white; border: 1px #148A9D solid; margin-bottom: 10px;">
                  {{returnControlUsers().length == 0 ? 'Shared with a member' : 'Share with another member'  }} </button>
                  <div class="col-10">
                   <div class="row">
                    <label>Priority level </label>
                   </div>
                    <div class="row">
                <div class="btn-group btn-group-toggle"  [ngStyle]="{'margin-bottom': isError ? '0px' : '5px'}" data-toggle="buttons">
                  <label class="btn btn-secondary high" [ngClass]="{active: listPriority === 1}">
                    <input type="radio" name="options" id="option1" autocomplete="off" (click)="priority(1)"> High
                  </label>
                  <label class="btn btn-secondary medium" [ngClass]="{active: listPriority === 2}">
                    <input type="radio" name="options" id="option2" autocomplete="off" (click)="priority(2)"> medium
                  </label>
                  <label class="btn btn-secondary low" [ngClass]="{active: listPriority === 3}">
                    <input type="radio" name="options" id="option3" autocomplete="off" (click)="priority(3)"> Low
                  </label>
                </div>
                  </div>
                </div>
            </div>
            </div>
            <div class="col-12">
            <div class="row">
              <span class="text-danger" *ngIf="isError">{{errMessage}}</span>
            </div>
            </div>
            <button type="button" class="btn btn-outline-danger" (click)="onStateChange()" style="color: white; border: 0.5px #2C423F solid">Settings</button>  &nbsp;
            <button type="submit" class="btn btn-outline-success" [disabled]="!form.valid || (form.get('items').value.length === 0)" style="color: white; border: 0.5px #2C423F solid">Create</button>
          </div>
          </form>
        </div>

    </div>
  </div>
</div>
